@font-face {
    font-family: crayonFont;
    src: url(./resources/ColoredCrayons-7wPR.ttf);
}

body{
    overflow-x:hidden;
    overflow-y:hidden;
}
body,
.modal-body{
    background-image: url(./resources/backgroung-big-texture.jpg);
    font-family: crayonFont;
}

.jumbotron {
    font-family: crayonFont;
    background-image: url(./resources/backgroung-big-texture.jpg);
    max-height: 200px;
    padding-top: 3%;
    margin-bottom: 0;
    text-align: left;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.btn-primary {
    background-color: black;
}

.btn-custom {
    padding-top: 10px;
    font-family: crayonFont;
    font-size: x-large;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ffee00 !important;
    text-align: left;
}

.btn-custom:hover {
    background-color: #ffee00;
    color: black !important;
}

.btn-custom:focus {
    outline: 0;
}

.nopadding {
    padding-left: 0;
}

.big-image {
    width: 100%;
    height: 100%;
}

h1 {
    color: #ffee00;
}
.marelo {
    color: #ffee00;
}
i {
    color:#ffee00;
}
label {
    color: #dadada;
}
p {
    font-family: crayonFont;
    font-size: 20px;
    
}

#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas {
    position: relative;
}


#putaburguerpreto {
    position: absolute;
    top: -10%;
    right: -20%;
}

.btn-botao{
    margin-left: 5em;
    margin-top: 20px;
    height: 38px;
    width: 102px;
}

body,
.modal-body {

    background-image: url(./resources/backgroung-big-texture.jpg);
}

body * {
    font-family: crayonFont;
 
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.nopadding {
    padding-left: 0;
}

.big-image {
    width: 100%;
    height: 100%;
}

h1 {
    color: #ffee00;
}

p,
h4 {
    font-family: crayonFont;
    font-size: 20px;
    color: white;
}

.legenda {
    text-align: center;
}

#putaburguerpreto {
    position: absolute;
    top: -10%;
    right: -20%;
}

.form {
    padding-bottom: 20px;
}

button.remover {
    background: none;
    border: none;
}

ul,
li {
    list-style-type: none;
}

.form-control,
.form-control:focus {
    color: black;
    font-weight: bolder;
}
